.newMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #407EC9;
    background-color: rgba(64, 126, 201, 0.08);
    margin-top: 12px;
    margin-bottom: 12px;
}