@import '../../../styles/variables.scss';

.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 36px;
    min-width: 50px;
    margin-bottom: 10px;

    &__my {
    justify-content: flex-end;  
    }
}

.wrapper {
    display: flex;
    position: relative;
    max-width: 52%;
    min-height: 36px;
    min-width: 50px;
    border-radius: 4px;
    padding: 8px 12px 16px 12px;

    &__partner {
    background: #F3F3F3;
    }
    
    &__my {
    background-color: rgba(64, 126, 201, 0.16);
    }
}

.message {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $content-color;
    min-height: 36px;
}

.img {
    position: absolute;
    right: 12px;
    bottom: 8px;
}